{% extends 'layout.html' %}
{% block body%}
{% if mensaje %}
    {% if busqueda|length >=1 %}
         <div class="alert alert-info alert-dismissible fade show" role="alert">
            <p> Se ha(n) encontrado {{ busqueda|length }} coincidencia(s).</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% else %}
     <div class="alert alert-info alert-dismissible fade show" role="alert">
             <p> No se han encontrado coincidencias. Pruebe con otro criterio</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endif %}
<div class="container" style="padding : 20px">
    <div class="row">
            <div class="col-md-3 col-lg-6 ">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">
                  Como relacionar
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h6 class="modal-title" id="exampleModalLongTitle">Información sobre la función de relacionar datos.</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <h6> Para crear una relación satisfactoria entre dos valores de distintas tablas se debe seguir un único criterio. </h6>
                          <p> Debe existir un campo a través del cual relacionarlas.</p>
                          <hr>
                          <p> A continuación se mostrará una tabla con las posibles combinaciones:</p>
                          <div class="border rounded bg-light">
                            <table class="table table-light table-striped table-hover">
                                <thead>
                                    <tr class="table-primary">
                                        <td>Tabla Base</td>
                                        <td>Tablas a Relacionar</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in relate.items() %}
                                        <tr>
                                            <td>{{key|capitalize}}</td>
                                            <td>{{value}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendido</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        <div class="col-md-3 col-lg-6 ">
            <form action="{{url}}" method="POST">
                <div class="row">
                    <div class="col-md-3 col-lg-5">
                        <div class="form-group">
                            <select class="form-select" name="criterio">
                                {% for col in columns[:-1] %}
                                  <option value="{{col.0}}">{{col.0}} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-5">
                        <input type="text" class="form-control" name="nombre" value="" required>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <button type="submit" class="btn btn-primary">
                        Buscar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="border rounded bg-light">
    <table class="table table-light table-striped table-hover">
        <thead>
        <tr class="table-primary">
            {% for column in columns[:-1] %}
                <td>{{column.0}}</td>
            {% endfor %}
            <td>Operaciones</td>
        </tr>
        </thead>
        <tbody>
            {% for i in range (0, busqueda|length)%}
                <tr>
                    {% for j in range (0, (busqueda[i]|length-1))%}
                        <td>{{busqueda[i][j]}}</td>
                    {% endfor %}
                    <td>
                        <a href="/edit/{{db}}/{{table}}/{{busqueda[i].0}}"> Edit</a>
                        <a href="/delete/{{db}}/{{table}}/{{busqueda[i].0}}"> Delete</a>
                        <a href="/join/{{db}}/{{table}}/{{busqueda[i].0}}"> Join</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
 <div class="row">
        <div class="d-flex align-items-center"  style="margin-top:20px">
                <a class="btn btn-info" href="/add/{{db}}/{{table}}" role="button">Añadir instancia a esta tabla</a>
            </div>
    </div>
{% endblock %}
{% block barra%}
    <div class="d-flex align-items-center">
                <a class="btn btn-success" href="/salir" role="button">Cerrar sesión</a>
            </div>
{% endblock %}