{% extends 'layout.html' %}
{% block body%}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <p> {{message}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor%}
{% endif %}
{% endwith %}
<div class="container mt-4">
    <div class="row">
        {% for card in cards %}
            <div class="col-md-4">
            <div class="p-3 border shadow rounded bg-white">
                <h5 class="text-center">{{card[0]}}</h5>
                <hr/>
                <p class="text-center">{{card[1]}}</p>
                <p class="text-center">{{card[2]}}</p>
                <div class="d-flex justify-content-center">
                    <a href=/index/inventario class="btn btn-danger" style="background-color: #6b705c; border-color: #6b705c">{{card[3]}}</a>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block barra%}
    <div class="d-flex align-items-center">
                <a class="btn btn-success" style="background-color: #ef4444; border-color: #ef4444" href="/salir" role="button">
                    Cerrar sesión <i class="bi bi-arrow-bar-down"></i>
                </a>
            </div>
{% endblock %}