{% extends 'layout.html' %}
{% block body%}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
        <p> {{message}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor%}
{% endif %}
{% endwith %}
<div class="container" style="padding : 15px">
    <div class="row">
        <div class="col-md-3 col-lg-6 ">
           <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">
              Como relacionar
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLongTitle">Información sobre la función de relacionar datos.</h6>
                  </div>
                  <div class="modal-body">
                      <h6> Para crear una relación satisfactoria entre dos valores de distintas tablas se debe seguir un único criterio. </h6>
                      <p> Debe existir un campo a través del cual relacionarlas.</p>
                      <hr>
                      <p> A continuación se mostrará una tabla con las posibles combinaciones:</p>
                      <div class="border rounded bg-light">
                        <table class="table table-light table-striped table-hover">
                            <thead>
                                <tr class="table-primary">
                                    <td>Tabla Base</td>
                                    <td>Tablas a Relacionar</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in relate.items() %}
                                    <tr>
                                        <td>{{key|capitalize}}</td>
                                        <td>{{value}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendido</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-6 ">
            <form action="/search" method="POST">
                <div class="row">
                    <div class="col-md-4 col-lg-6 ">
                        <div class="form-group">
                            <select class="form-select" name="buscar">
                                {% for table in tables %}
                                  <option value="list.{{tables.index(table)}}">{{table}} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6">
                        <button type="submit" class="btn btn-primary">
                        Buscar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% if mensaje %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p> No hay coincidencias. Pruebe con otro criterio de búsqueda. </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
{% for dato in datos %}
    <div class="container" style="padding : 20px">
        <div class="border rounded bg-light">
            <h6> {{tables[datos.index(dato)]|capitalize}}</h6>
        <!-- {{ pagination[datos.index(dato)].info }} -->
            <table class="table table-light table-striped table-hover">
                <thead>
                    <tr class="table-primary">
                        {% for valor in dato.1[:-1] %}
                            <td>{{valor.0|capitalize}}</td>
                        {% endfor %}
                            <td>Operaciones</td>
                            {% if tables[datos.index(dato)]== 'maquina' %}
                                <td> Lista Componentes</td>
                            {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in range (0, dato.0|length)%}
                            <tr>
                                {% for j in range(0, (dato.0[i]|length-1))%}
                                    {% if dato.1[j][0] == 'imagen' %}
                                        {% if dato.0[i][j] %}
                                            <td>
                                                <img class='w-25' src="{{ url_for('bp_upload.display_image', filename=dato.0[i][j]) }}">
                                            </td>
                                        {% else %}
                                            <td>
                                                <a href="/upload/{{base}}/{{dato.2}}/{{dato.0[i][0]}}"> Añadir imagen</a>
                                            </td>
                                        {% endif %}
                                    {% else %}
                                        <td>{{dato.0[i][j]}}</td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    <a href="/edit/{{base}}/{{dato.2}}/{{dato.0[i][0]}}"> Edit</a>
                                    <a href="/delete/{{base}}/{{dato.2}}/{{dato.0[i][0]}}"> Delete</a>
                                    <a href="/join/{{base}}/{{dato.2}}/{{dato.0[i][0]}}/0"> Join</a>
                                </td>
                                {% if tables[datos.index(dato)]== 'maquina'%}
                                    <td>
                                        <a href="/list/{{base}}/{{dato.2}}/{{dato.0[i][0]}}"> Lista</a>
                                    </td>
                                {% endif %}
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ pagination[datos.index(dato)].links }}
        </div>
        <div class="d-flex align-items-center"  style="margin-top:15px">
            <a class="btn btn-info" style="background-color: #adc178; border-color: #adc178" href="/add/{{base}}/{{dato.2}}" role="button">Añadir nuevo dato a esta tabla</a>
        </div>
    </div>
{% endfor %}

{% endblock %}
{% block barra%}
    <div class="d-flex align-items-center">
                <a class="btn btn-success" style="background-color: #ef4444; border-color: #ef4444" href="/salir" role="button">
                    Cerrar sesión <i class="bi bi-arrow-bar-down"></i>
                </a>
            </div>
{% endblock %}

