{%extends 'layout.html'%}
{% block body%}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
     <div class="alert alert-info alert-dismissible fade show" role="alert">
        <p> {{message}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor%}
{% endif %}
{% endwith %}
<div class="p-4" style="padding: 20px">
    <div class="p-relative mx-auto overflow-hidden bg-white border shadow rounded p-4" style="width: 400px">
        <h2 class="text-center"> Acceso </h2>
        <hr/>
        <form action="/admin/ingresar" method="POST">
            <div class="mb-3">
                    <span>Dirección de correo</span>
                    <input type="email" name="Correo login" required placeholder="correo" class="form-control"/>
                </div>
                <div class="mb-3">
                    <span>Contraseña</span>
                    <input type="password" name="Password login" required placeholder="password" class="form-control"/>
                </div>
            <div class="mb-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">
                        Iniciar sesión
                    </button>
                </div>
            <p class="mt-4 text-center">No tiene cuenta?
                <a class="text-center" style="color:green" href="/admin/registrar">Regístrese.</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}
