{%extends 'layout.html'%}
{% block body%}
    <div class="container" style="height: 600px">
       <div id="C1" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false" style="height: inherit">
          <div class="carousel-inner" style="height: inherit">
                <div class="carousel-item active" style="height: inherit">
                   <div class="d-flex justify-content-center align-items-center h-100" >
                       <div class="text-center fs-2">
                           <p> Bienvenidos a todos </p>
                           <p> a mi TFG.</p>
                           <p> Espero que lo disfruten </p>
                       </div>
                   </div>
                </div>
                <div class="carousel-item" style="height: inherit">
                  <div class="d-flex justify-content-center align-items-center h-100" >
                      <div class="text-center fs-2">
                          <p> Para empezar : </p>
                          <p> haz click en el botón </p>
                          <p> o en el icono de la universidad <br>
                               <a href="/admin/registrar"> Registro </a>
                           </p>
                      </div>
                   </div>
                </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#C1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#C1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
    </div>
{% endblock %}

{% block barra%}
    <div class="d-flex align-items-center">
                <a class="btn btn-danger " style="background-color: #2563eb; border-color: #2563eb" href="/admin/ingresar" role="button">
                    Iniciar sesión <i class="bi bi-arrow-bar-up"></i>
                </a>
            </div>
{% endblock %}