{%extends 'layout.html'%}
{% block body%}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <p> {{message}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor%}
{% endif %}
{% endwith %}
<div class="p-4" style="padding: 20px">
    <div class="p-relative mx-auto overflow-hidden bg-white border shadow rounded p-4" style="width: 400px">
        <h2 class="text-center"> Registro </h2>
        <hr/>
        <form action="/admin/registrar" method="POST">
            <div class="mb-3">
                <span>Dirección de correo</span>
                <input type="email" name="Correo registro" required placeholder="correo" class="form-control"/>
            </div>
            <div class="mb-3">
                <span>Contraseña</span>
                <input type="password" name="Password registro" required placeholder="password" class="form-control"/>
            </div>
            <div class="mb-3">
                <span>Nombre de usuario</span>
                <input type="text" name="Nombre registro" required placeholder="nombre" class="form-control"/>
            </div>
             <div class="row" style="margin-top: 20px">
                <div class="col-xs-4 col-lg-6 ">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="Administrador" id="option1">
                      <label class="form-check-label" for="option1">
                        Administrador
                      </label>
                    </div>
                </div>
                 <div class="col-xs-4 col-lg-6 ">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="Jefe de planta" id="option2">
                      <label class="form-check-label" for="option2">
                        Jefe de planta
                      </label>
                    </div>
                </div>
             </div>
            <hr/>
            <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">
                    Registrarse
                </button>
            </div>
            <p class="mt-4 text-center">Ya tienes cuenta?
                <a class="text-center" style="color: green" href="/admin/ingresar">Iniciar sesión.</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}
